body{
  width: 100vw;
  margin: 0;
}


.font{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.top{
    width: 101vw;
    height: 100vh;
    background-image: url("../images/cts.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.h1{
    margin-top: 40vh;
    width: 100vw;
    background-color: black;
    opacity: .8;
    font-weight: 300;
    text-align: center;
    font-size: 5em;
    color: white;
    position: absolute;
}




.black-container {
  background-color: black;
  color: white;
  display: inline-block;
  height: auto;
  width: 100vw;
  max-width: 100vw;
  padding: 80px 20px;
  background-position: 94%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 38%;
}

.white-container {
  background-color: white;
  color: black;
  display: inline-block;
  height: auto;
  width: 100vw;
  max-width: 100vw;
  padding: 85px 20px;
  background-position: 5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 39%;
}


.grey-container {
  background-color: rgb(61, 61, 61);
  color: black;
  display: inline-block;
  height: 50vw;
  width: 100vw;
  max-width: 100vw;
  /* padding: 20px;  */
}



.black-child-div{
  width: 45%;
  float: right;
  color: black;
  margin-right: 30px;
}

.white-child-div{
  width: 45%;
  color: white;
  margin-left: 30px;

  /* margin: 10; */
}

.paragraph-text{
  margin: 20px 15px;
  font-size: 1.5em;
  text-align: left;
}

.link{
  color: rgb(126, 155, 194);
}
